.header {
    position:relative;
    overflow: hidden;
        .header_img {
            width: 100%;
            filter: brightness(65%);
        }
    @media screen 
    and (min-width: 300px)
    and (max-width: 700px) { 
        margin-top: -5vh;
        height: 30vh;
    }
    @media screen 
    and (min-width: 701px) 
    and (max-width: 900px) { 
        margin-top: -10vh;
        height:40vh;
    }
    @media screen 
    and (min-width: 901px)
    and (max-width: 1200px) { 
        margin-top: -10vh;
        height:50vh;
    }
    @media screen 
    and (min-width: 1201px) { 
        margin-top: -17vh;
        height: 63vh;
    }
}
.logo-centered {
    position: absolute;
    top: 65%;
    left: 57%;
    transform: translate(-50%, -50%);
        img {
            width: 68%;
        }
    @media screen and (max-width: 900px) { 
        top: 60%;
        left: 50%;
            img {
                width: 100%;
            }
        }
            
}
