a {
    color: rgb(244,244,244);
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:0;
    width:100%;
    height:6vh;
    background-color: rgb(233,94,48);
    color: rgb(244,244,244);
}
