.header {
    position:relative;
    top:-15vh;
    height: 64vh;
    overflow: hidden;
        .header_img {
            width: 100%;
            filter: brightness(65%);
        }
    @media screen and (max-width: 900px) { 
        top:-5vh
        }
}
.centered {
    position: absolute;
    top: 65%;
    left: 57%;
    transform: translate(-50%, -50%);
        img {
            width: 68%;
        }
    @media screen and (max-width: 900px) { 
        top: 40%;
            img {
                width: 100%;
            }
        }
            
}
